.btn {
    position: fixed;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.235);
    background-color: #0079bf;
    color: #fff;
    bottom: 14px;
    right: 14px;
}

.btn.roxo {
    background-color: #7144b9 !important;
}

.btn.verde {
    background-color: #00a884 !important;
}

.btn svg {
    font-size: 18px;
}